.parent h1 {
    text-align: center;
    font-size: 50px;
}

/* .table-container {
    width: 80%;
} */

.parent h2 {
    /* background-color: red; */
    position: relative;
    left: 68px;
}

img {
    width: 25px;
    height: 25px;
    margin: 0px;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section1 h1 {
    text-align: center;
    margin-left: 700px;
}


img:hover {
    transform: scale(1.1);
}