.parent h1 {
    text-align: center;
    font-size: 50px;
}

/* .table-container {
    width: 80%;
} */

.parent h2 {
    /* background-color: red; */
    position: relative;
    left: 68px;
}

img {
    width: 25px;
    height: 25px;
    margin: 0px;
}




img:hover {
    transform: scale(1.1);
}