.container {
    display: flex;
    height: 650px;
    /* Adjust as needed */
    overflow-x: hidden !important;


}

.section {
    flex: 1;
    position: fixed;
    width: 50vw;
    height: 618px;
    padding: 20px;
    border: 1px solid #ccc;
}

.scrollable {
    /* display: flex; */
    width: 47vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    left: 810px;
    border: 1px solid #ccc;

}

.scrollable h1 {
    text-align: center;
}

.scrollable-content {
    /* Define the maximum height of the scrollable content */
    max-height: calc(100vh - 40px);
    /* Adjust according to your layout */
}

.input-wrapper-profile-page {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
}

.input-wrapper-profile-page h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.podcasts-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.podcast-title-heading {
    text-align: left !important;
    width: 100%;
}

.banner-wrapper {
    background: linear-gradient(177.7deg,
            rgba(58, 129, 191, 0.3) 1.63%,
            rgba(65, 48, 90, 0.009) 148.18%);
    border-radius: 1rem;
    padding: 0.5rem;
    height: 300px;
    width: 100%;
}

.banner-wrapper img {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    border-radius: 1rem;
}

.podcast-description {
    color: var(--purple-grey);
    text-align: left;
    width: 100%;
}


.profilePic {
    width: 80%;
    height: 200px;
    margin: auto;
    position: relative;
    text-align: center;

}

.profilePic svg {
    position: absolute;
    top: 0;
    right: 0;


}

.profilePic input {
    display: none;
}

.input-wrapper-profile-page img {
    margin-top: 0;
    width: 190px;
    height: 190px;
    background-position: -25px -20px;
    border-radius: 50%;
    background-size: cover;
}

.inner-field-profile{
    margin-top: 50px;
}
.inner-field-profile h1 {

    /* display: flex; */
    
    margin-left: 30px;
}

.inner-field-profile div{

    /* display: flex; */
    
    margin-left: 40px;
}

.podcasts-flex {
    display: flex;
    flex-direction: row;
}

.section h1 {
    text-align: center;
}


.profile-content-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}